name: Test go build

on:
  pull_request:
    branches:
      - main
    paths:
      - "**/*.go"

env:
  CGO_ENABLED: "0"

jobs:
  go-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"

      - name: Run go test (syntax check)
        id: test-syntax
        run: go test -tags ci -v ./...

  golangci-all-codebase:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          args: --build-tags ci

  golangci-updated-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"

      - name: golangci-lint-updated-code
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          only-new-issues: true
          args: --build-tags ci
