name: Release Workflow

on:
  push:
    tags:
      - 'v*.*.*' # Trigger workflow on tags that start with 'v'

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      
      #- name: Install modules # This is needed before running goreleaser as parallel builds crash the process when having to install deps
      #  run: go mod tidy

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
